.ul{
    list-style: none;
}
.list {
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
    background-color: #6c1313;
    li {
        float: left;
    }
}

.notActive {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:  #6c1313;
    &:hover {
        background-color: #111;
    }
}
.isActive {
    @extend .notActive;
    background-color: rgb(22, 8, 84);
    &:hover {
        background-color: rgb(22, 8, 84);
    }
}
